@charset "utf-8";

body {
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    padding: 10px;
    text-align: center;
}

.box {
    text-align: justify;
    text-justify: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    border: .1rem solid black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

form {
    padding: 5px;
}

img {
    display: block;
    padding-bottom: 10px;
}

h1 , h2 {
    display: inline;
}